Repository User-XLR/vue3-project: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Update README.md
  README.md
Due: none

fix: 优化配置
  package-lock.json
  package.json
  src/hooks/router.ts
  src/router/index.ts
Due: prettier --write

fix: 配置恢复
  .eslintrc.cjs
  README.md
  package-lock.json
  package.json
  src/hooks/router.ts
  src/router/index.ts
  src/types/auto-imports.d.ts
  src/types/components.d.ts
Due: prettier --write

fix: 多语言配置完善
  package-lock.json
  package.json
  src/App.vue
  src/hooks/i18n.ts
  src/stores/baseInfoStore.ts
  src/types/auto-imports.d.ts
  src/types/components.d.ts
  src/views/base/index.vue
Due: prettier --write, eslint --fix

fix: 动态生成路由
  package.json
  src/router/index.ts
  src/views/base/test/test.vue
  vite.config.ts
Due: prettier --write, eslint --fix

fix: 增加css原子化
  package.json
  postcss.config.js
  src/main.ts
  src/router/index.ts
  src/style.scss
  src/types/components.d.ts
  src/views/base/index.vue
  tailwind.config.js
Due: prettier --write, eslint --fix

fix: 增加翻译插件
  .gitignore
  .vscode/settings.json
  src/components/layouts/baseIndex.vue
  src/config/languages/en-US.json
  src/config/languages/en.ts
  src/config/languages/tw.ts
  src/config/languages/zh-CN.json
  src/config/languages/zh-TW.json
  src/config/languages/zh.ts
  src/hooks/i18n.ts
  src/router/index.ts
  src/types/components.d.ts
  src/views/base/index.vue
  src/views/base/test/index.vue
  tsconfig.json
Due: prettier --write, eslint --fix

fix: 修复构建报错
  package.json
  src/types/vite-env.d.ts
  src/views/base/test/index.vue
Due: prettier --write, eslint --fix

fix: 升级依赖
  package.json
  src/config/languages/en-US.json
  src/config/languages/zh-CN.json
  src/config/languages/zh-TW.json
  src/types/components.d.ts
  src/views/base/index.vue
Due: prettier --write, eslint --fix

fix: 升级到eslintv9啦
  .eslintignore
  .eslintrc-auto-import.json
  .eslintrc.cjs
  .prettierrc.json
  commitlint.config.js
  eslint.config.js
  package.json
  prettier.config.js
  src/App.vue
  src/main.ts
  src/views/base/index.vue
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint --fix

fix: 封装echarts和增加多主题切换
  .prettierignore
  .vscode/settings.json
  commitlint.config.js
  eslint.config.js
  index.html
  postcss.config.js
  prettier.config.js
  src/App.vue
  src/api/baseApi.ts
  src/hooks/axios.ts
  src/hooks/i18n.ts
  src/hooks/router.ts
  src/main.ts
  src/router/index.ts
  src/stores/baseInfoStore.ts
  src/types/auto-imports.d.ts
  src/types/components.d.ts
  src/utils/echarts.ts
  src/utils/index.ts
  src/views/base/index.vue
  src/views/base/test/index.vue
  tailwind.config.js
  vite.config.ts
Due: prettier --write, eslint --fix

fix: 优化多主题
  README.md
  index.html
  package.json
  src/App.vue
  src/main.ts
  src/styles/dark-theme.scss
  src/styles/light-theme.scss
  src/styles/style.scss
  src/types/auto-imports.d.ts
  src/utils/index.ts
  src/views/base/index.vue
Due: prettier --write, eslint --fix

fix: 修改prettier的配置文件
  .prettierrc
  prettier.config.js
  src/App.vue
  src/views/base/index.vue
  src/views/base/test/index.vue
Due: prettier --write, eslint --fix

fix: 配置自动引入vue相关的方法
  commitlint.config.js
  eslint.config.js
  postcss.config.js
  src/api/baseApi.ts
  src/components/layouts/baseIndex.vue
  src/hooks/axios.ts
  src/hooks/i18n.ts
  src/hooks/pinia.ts
  src/hooks/router.ts
  src/main.ts
  src/router/index.ts
  src/stores/baseInfoStore.ts
  src/types/.eslintrc-auto-import.json
  src/types/auto-imports.d.ts
  src/types/vite-env.d.ts
  src/utils/echarts.ts
  src/utils/index.ts
  src/views/base/test/index.vue
  tailwind.config.js
  vite.config.ts
Due: prettier --write, eslint --fix

Update baseApi.ts
  src/api/baseApi.ts
Due: none

Path conditions:
  prettier --write: (any of: **/*.{jsx,tsx,vue}) or (any of: **/*.{html,css,less,scss,sass,stylus,json})
  eslint --fix: any of: **/*.{jsx,tsx,vue}
